<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.umeng.soexample">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 悬浮窗(FloatingService) permission -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- renren sso Permission for Unit Test -->
    <!-- QQ、QQ空间所需权限 START-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <!-- QQ、QQ空间所需权限 END-->
    <application
        android:name="com.umeng.soexample.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/Theme.DesignDemo">

        <activity android:name="com.umeng.soexample.activity.SplashActivity"
            android:theme="@style/Theme.DesignDemo.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.GuideActivity"
            android:theme="@style/FullscreenTheme"/>

        <activity android:name="com.umeng.soexample.MainActivity"/>
        <activity android:name="com.umeng.soexample.activity.LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name="com.umeng.soexample.activity.MusicActivity" />
        <activity android:name="com.umeng.soexample.activity.ChatActivity"/>
        <activity android:name="com.umeng.soexample.activity.MediaPlayerActivtiy"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name="com.umeng.soexample.activity.VideoChatActivity"/>
        <activity android:name="com.umeng.soexample.activity.QrViewActivity"/>
        <activity android:name="com.umeng.soexample.activity.BigPhotoActivity"/>
        <activity android:name="com.umeng.soexample.activity.DownloadManagerDemo"/>
        <activity android:name="com.umeng.soexample.activity.SwipBackActivity"
            android:theme="@style/Transparent"/>
        <activity android:name="com.umeng.soexample.activity.PersonActivity" />
        <activity android:name="com.umeng.soexample.activity.BloggerActivity"/>
        <activity android:name="com.umeng.soexample.music.MusicListActivity"
            android:theme="@style/TransparentTheme"/>
        <activity android:name="com.umeng.soexample.music.MusicModeActivity"/>
        <activity android:name="com.umeng.soexample.activity.FloatViewActivity"/>
        <activity android:name="com.umeng.soexample.activity.ShareActivity"/>
        <activity android:name="com.umeng.soexample.activity.SetPatternActivity"/>
        <activity android:name="com.umeng.soexample.activity.AlbumAty"/>
        <activity android:name="com.umeng.soexample.activity.AlbumItemAty"/>
        <activity android:name="com.umeng.soexample.activity.CameraAty"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.umeng.soexample.activity.ScreenCopyActivity"
            android:theme="@style/translate_dialog" />
        <activity android:name="com.umeng.soexample.activity.SQLActivity"/>
        <activity android:name="com.umeng.soexample.activity.NotifyActivity"/>
        <activity android:name="com.umeng.soexample.activity.PopWindowActivity"/>
        <activity android:name="com.umeng.soexample.activity.SuggestActivity"/>
        <activity android:name=".activity.EnterActivity"/>
        <activity android:name=".activity.DanmuActivity"/>
        <activity android:name=".activity.SetActivity"/>
        <!-- 分享 -->
        <activity
            android:name="com.umeng.soexample.custom.ToShare"
            android:screenOrientation="portrait"
            android:theme="@style/translate_dialog" />

        <!-- above activity that demo required,has nothing to with umeng sdk  -->
        <!-- *************************    related to Share START **************************** -->
        <!-- 微博-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" >
        </activity>

        <!--友盟分享-->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault" />

        <!--微信平台-->
        <activity
            android:name="com.umeng.soexample.apshare.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信登录-->
        <activity
            android:name="com.umeng.soexample.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!--没安装客户端下登录-->
        <activity android:name="jp.line.android.sdk.activity.WebLoginActivity"
            android:exported="false"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="sensor">
        </activity>
        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- *************************     related to Share END **************************** -->
        <!-- umengAppKey，replace to yours -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5126ff896c738f2bfa000438" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>
        <!--友盟分享-->

        <service android:name="com.umeng.soexample.music.MusicService" />
        <service android:name="com.umeng.soexample.floatView.FloatViewService"/>

        <service android:name="com.umeng.soexample.service.AidlService"
            android:exported="true">
            <intent-filter >
                <action android:name="com.example.myselfapp.service.AidlService"/>
            </intent-filter>

        </service>

    </application>

</manifest>